.user {
	align-items: center;
	margin-left: 60px;
	margin-top: 20px;

	.user__top {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.infoWrap {
		display: flex;
		align-items: center;
		gap: 70px;
	}
	.userTop {
		position: relative;
		.round {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 32px;
			height: 32px;
			line-height: 33px;
			overflow: hidden;
			.icon {
				width: 40px;
				height: 35px;
				margin-left: -5px;
				margin-bottom: 20px;
			}
			> input[type='file'] {
				position: absolute;
				transform: scale(2);
				opacity: 0;
			}
			> input[type='file']::-webkit-file-upload-button {
				cursor: pointer;
			}
		}

		.img {
			border-radius: 50%;
			cursor: pointer;
		}
	}
	.userInfo {
		display: flex;
		flex-direction: column;
		gap: 10px;
		.userName {
			font-size: 20px;
		}
		p > span {
			font-weight: 700;
		}
	}
	.settingsBtn {
		width: 150px;
		height: 40px;
		background-color: darkgreen;
		color: #fff;
		border-radius: 5px;
		text-align: center;
		padding: 10px 0;
		&:hover {
			background-color: rgb(99, 146, 53);
			transition: all 0.3s ease-in;
		}
	}
}
