* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}
button {
	border: none;
	background-color: transparent;
}
.wrapper {
  width: 1600px;
  margin: 0 auto;
}