.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	gap: 200px;
}
.registration {
	width: 150px;
	height: 35px;
	background-color: #459548;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #fff;
	letter-spacing: 1px;

	&:hover {
		background-color: #6bb86e;
		transition: all 0.3s ease;
		cursor: pointer;
	}
}
