.button {
	width: 100%;
	background: var(--green);
	color: #fff;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	padding: 12px 20px;
	border-radius: 5px;

	&:hover:not(:disabled) {
		background: #3bab3f;
		transform: scale(1.02);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}

	&:disabled {
		background: #e0e4f5;
		color: #a2aec3;
		cursor: not-allowed;
	}
}
